.App {
  height: 100dvh;
  width: 100dvw;
  overflow: auto; 
  background-color: #fafafa;
}
.error-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.error-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 0 solid #979797;
  border-radius: 6px;
  padding: 0.4rem;
  opacity: 0.3;
  opacity: 1;
  background: #fff;
  border: 1px solid #a163f5;
  box-shadow: 0 1px 2px 0 rgba(195, 159, 244, 0.43);
  font-size: 11px;
  text-align: center;
  gap: 8px;
  margin-top: 6px;
  cursor: pointer;
  text-decoration: none;
}